@using TP5___Sala_de_escape.Models
@{
    var remainingTime = Escape.GetRemainingTime();
    var minutes = remainingTime.Minutes;
    var seconds = remainingTime.Seconds;

    if (Escape.IsGameOver())
    {
        //RedirectToAction("Derrota");
    }
}

<div id="timer">
<<<<<<< HEAD
    <p>Tiempo restante: @minutes: @seconds</p>
</div>
=======
    <p> Tiempo restante: </p> @minutes: @seconds
</div>

>>>>>>> 9d9a6d60dfe98b1fb8fdc31c8bdfdd1a6c6fb5f6
