@{
    ViewData["Title"] = "Habitacion 1";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/inicio.css">
    <title>Habitacion 1</title>
</head>
<body>
    <h1>El Vestíbulo</h1>
    <h2>Te encuentras en un vestibulo el cual al entrar queda bloqueada su puerta la cual se desbloquea con un código, en este vestíbulo se encuentran muchos libros para investigar... </h2>
</body>
</html>