@{
    ViewData["Title"] = "Creditos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Creditos.css">
    <title>creditos</title>
</head>
<body>
    <h1>Creditos</h1>
    <h4>AUTORES:</h4>
    <img src="/imgs/waltuh.png">
    <p>Nehuen Villasanti</p>
    <img src="/imgs/bigSmoke.png">
    <p>Matias Bebczuk</p>
    <img src="/imgs/mariano.png">
    <p>MDC</p>
</body>
</html>