@{
    ViewData["Title"] = "Creditos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Creditos.css">
    <title>Skreditos</title>
</head>
<body>
    <h1>Creditos</h1>
    <h4>Estos son los homunculos que crearon esta aberración:</h4>
    <img src="../wwwroot/imgs/waltuh.png">
    <p>Nestuen "Quakin' in me boots" Vill A</p>
    <img src="../wwwroot/imgs/bigSmoke.png">
    <p>Bebzuck "El rey de pollin" Matias</p>
    <img src="../wwwroot/imgs/mariano.png">
    <p>Marco "Di" Carlo</p>
</body>
</html>