@{
    ViewData["Title"] = "Habitacion 4";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/habitacion4.css">
    <title>Habitacion 4</title>
</head>
<body>
    @Html.Partial("_Timer")
    <h1>La Llave Final</h1>
    <h2>Estas en la última habitación para poder salir del castillo, en alguna parte debería da haber una llave para salir de aquí. </h2>
     <img src = "/imgs/HabitacionFinal.jpeg">
    <form method="Post" action='@Url.Action("Habitacion", "Home")'>
    <input type="hidden" name="sala" value="4">
    <label for="clave">Ingresa la clave: </label>
    <input type="text" id="clave" name="clave" required>
    <input type="submit" value="VALIDAR"> 
    </form> 
    <button onclick="alert('pista 1: descripcion...')">Pista 1 </button>
    <button onclick="alert('pista 2: descripcion...')">Pista 2 </button>
 
</body>
</html>