@{
    ViewData["Title"] = "Habitacion 2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/habitacion2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/js/Habitacion2Script.js"></script>
    <script src="/js/timer.js"></script>
    <title>Habitacion 2</title>
</head>
<body>
    <h1>El Laboratorio</h1>
    <h2>Logras salir del vestibulo y te encuentras en un laboratorio sin salida, en este laboratorio se encuentran muchas pocimas y libros extraños, quizá uno de estos tenga la solución para salir de aquí... </h2>
    <h2 class="Tempo">Temportizador: <span id="tiempo"></span></h2>
    <div class="image-container">
        <img src="/imgs/Labo_1.png" alt="Imagen Central" id="mainImage">
        <button class="overlay-button" id="toggleButton1"><i class="fas fa-eye"></i></button>
        <button class="overlay-button" id="toggleButton2"><i class="fas fa-eye"></i></button>
        <button class="overlay-button" id="toggleButton3"><i class="fas fa-eye"></i></button>
        <button class="overlay-button" id="toggleButton4"><i class="fas fa-eye"></i></button>
        <button class="overlay-button" id="toggleButton5"><i class="fas fa-eye"></i></button>
        <img src="/imgs/A_Habitacion_3.png" alt="Habitación" id="toggleImage">
    </div>
    <form method="Post" action='@Url.Action("Habitacion", "Home")'>
    <input type="hidden" name="sala" value="2">
    <label for="clave">Ingresa la clave: </label>
    <input type="text" id="clave" name="clave" required>
    <input type="submit" value="VALIDAR"> 
    </form> 

    <button onclick="alert('Pista 1: Debes de buscar por las pocimas, quizá encuentres algo allí...')">Pista 1</button>
    <button onclick="alert('Pista 2: Busca las letras de las pocimas para llegar a una palabra coherente... ')">Pista 2</button>
</body>
</html>