@{
    ViewData["Title"] = "Habitacion 4";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/habitacion4.css">
    <title>Habitacion 4</title>
</head>
<body>
    <h1>La Llave Final</h1>
    <h2>Estas en la última habitación para poder salir del castillo, en alguna parte debería da haber una llave para salir de aquí. </h2>
 <form method="Post" action='@Url.Action("Habitacion", "Home")'>
        <h1>Sex</h1>
        <input name="clave" type="text">
        <input name="sala" type="number">
        <input type="submit" value="enviar">
    </form> 
</body>
</html>