@{
    ViewData["Title"] = "Habitacion 1";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/habitacion1.css">
    <script src="/js/Habitacion1Script.js"></script>
    <script src="/js/timer.js"></script>
    <title>Habitacion 1</title>
</head>
<body>
    <h1>El Vestíbulo</h1>
    <h2>Te encuentras en un vestibulo el cual al entrar, su puerta se bloquea y solo se puede 
    desbloquear con un código, en este vestíbulo se encuentran muchos libros para investigar... </h2>
    <h2 class="Tempo">Temportizador: <span id="tiempo"></span></h2>
    <div class="image-container">
        <img id="mainImage" src="/imgs/Vestibulo.png" alt="Imagen Principal">
        <div class="button-container">
            <button id="toggleButton1" class="overlay-button"></button>
            <button id="toggleButton2" class="overlay-button"></button>
            <button id="toggleButton3" class="overlay-button"></button>
            <button id="toggleButton4" class="overlay-button"></button>
            <button id="toggleButton5" class="overlay-button"></button>
        </div>
    </div>
    <form method="Post" action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value="1">
        <label for="clave">Ingresa la clave: </label>
        <input type="text" id="clave" name="clave" required>
        <input type="submit" value="VALIDAR">
    </form>

    <button onclick="alert('Pista 1: Lee los libros, quizá alla una combinación que encuentres...')">Pista 1</button>
    <button onclick="alert('Pista 2: Observa las palabras subrayas de cada libro...')">Pista 2</button>
</body>
</html>