@{
    ViewData["Title"] = "Habitacion 4";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/habitacion4.css">
    <script src="/js/Habitacion4Script.js"></script>
    <script src="/js/timer.js"></script>
    <title>Habitacion 4</title>
</head>
<body>
    <header>
        <h1>La Llave Final</h1>
        <h2>Estas en la última habitación para poder salir del castillo, en alguna parte debería da haber una llave para salir de aquí. </h2>
        <h2 class="Tempo">Temportizador: <span id="tiempo"></span></h2>
        <h4>@ViewBag.Error</h4>
    </header>
    <div class="image-container">
        <img src="/imgs/HabitacionFinal.jpeg" alt="Imagen Central" id="mainImage">
        <button class="overlay-button" id="toggleButton1"><i class="fas fa-eye"></i></button>
        <button class="overlay-button" id="toggleButton2"><i class="fas fa-eye"></i></button>
        <button class="overlay-button" id="toggleButton3"><i class="fas fa-eye"></i></button>
        <button class="overlay-button" id="toggleButton4"><i class="fas fa-eye"></i></button>
        <button class="overlay-button" id="toggleButton5"><i class="fas fa-eye"></i></button>
        <img src="A_Habitacion_3.png" alt="Habitación" id="toggleImage">
    </div>
    <form method="Post" action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value="4">
        <label for="clave">Ingresa la clave: </label>
        <input autocomplete="off" type="text" id="clave" name="clave" required>
        <input type="submit" value="VALIDAR"> 
    </form> 
    <div class="hint-buttons">
        <button onclick="alert('Pista 1: Busca por los cajones...')">Pista 1</button>
        <button onclick="alert('Pista 2: ¿Has buscado bien? Seguro la llave debe de estar por allí...')">Pista 2</button>
    </div>
    <section>
        <a href='@Url.Action("Index", "Home")'>Rendirse</a>
    </section>
</body>
</html>