@{
    ViewData["Title"] = "Habitacion 1";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/inicio.css">
    <title>Habitacion 1</title>
</head>
<body>
    <h1>El Vestíbulo</h1>
    <h2>Te encuentras en un vestibulo el cual al entrar, su pureta se bloquea y solo se puede desbloquear con un código, en este vestíbulo se encuentran muchos libros para investigar... </h2>
    <img src = "/imgs/Vestibulo.png" alt="El Vestíbulo" >
    <form method="Post" action='@Url.Action("Habitacion", "Home")'>
    <input type="hidden" name="sala" value="1">
    <label for="clave">Ingresa la clave: </label>
    <input type="text" id="clave" name="clave" required>
    <input type="submit" value="VALIDAR"> 
    </form> 

    <button onclick="alert('pista 1: descripcion...')">Pista 1 </button>
    <button onclick="alert('pista 2: descripcion...')">Pista 2 </button>
</body>
</html>