@{
    ViewData["Title"] = "Habitacion 3";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/habitacion3.css">
    <title>Habitacion 3</title>
</head>
<body>
    @Html.Partial("_Timer")
    <h1>La Biblioteca Secreta</h1>
    <h2>Haz logrado salir del laboratiorio pero...de rependete...te encuentras con una biblioteca oculta detrás de una estantería giratoria, llena de libros de magia y runas.</h2>
     <img src = "/imgs/Libreria_secreta.png">
    <form method="Post" action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value="3">
        <label for="clave">Ingresa la clave: </label>
        <input type="text" id="clave" name="clave" required>
        <input type="submit" value="VALIDAR"> 
    </form> 

    <button onclick="alert('Pista 1: Observa los hechizos...')">Pista 1</button>
    <button onclick="alert('Pista 2: ¿En qué coinciden todos?')">Pista 2</button>
</body>
</html>