@{
    ViewData["Title"] = "Habitacion 1";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/inicio.css">
    <title>Habitacion 1</title>
</head>
<body>
    <form method="Post" action='@Url.Action("Habitacion", "Home")'>
        <h1>Sex</h1>
        <input name="clave" type="text">
        <input name="sala" type="number">
    </form>
</body>
</html>