@{
    ViewData["Title"] = "Habitacion 3";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/habitacion3.css">
    <title>Habitacion 3</title>
</head>
<body>
    <h1>La Biblioteca Secreta</h1>
    <h2>Haz logrado salir del laboratiorio pero, de rependete, te encuentras con una biblioteca oculta detrás de una estantería giratoria, llena de libros de magia y runas.</h2>
 <form method="Post" action='@Url.Action("Habitacion", "Home")'>
        <h1>Sex</h1>
        <input name="clave" type="text">
        <input name="sala" type="number">
        <input type="submit" value="enviar">
    </form> 
</body>
</html>