@{
    ViewData["Title"] = "Habitacion 2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/habitacion2.css">
    <title>Habitacion 2</title>
</head>
<body>
    <h1>El Laboratorio</h1>
    <h2>Logras salir del vestibulo y te encuentras en un laboratorio sin salida, en este laboratorio se encuentran muchas pocimas y libros extraños, quizá uno de estos tenga la solución para salir de aquí... </h2>
</body>
</body>
</html>