@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Index.css">
    <title>Sala de escape</title>
  </head>

<header>
 
<div class="text-center">   
    <h1 class="display-4">Welcome</h1>
    <p>To the dungeon</p>
</div>
    <div class="header-content">
        <nav>
            <ul class="header-links">
                <li><a href='@Url.Action("Tutorial", "Home")'>Tutorial del juego</a></li>
                <li><a href='@Url.Action("Comenzar", "Home")'>Inicio del juego</a></li>
                <li><a href='@Url.Action("Creditos", "Home")'>Créditos</a></li>
            </ul>
        </nav>
    </div>
</header>
    <script>
        localStorage.removeItem('tiempo');
    </script>
    <body>
        <img src= "/imgs/castle.jpeg">
    </body>
</html>