@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="/css/Index.css">

<div class="text-center">   
    <h1 class="display-4">Welcome</h1>
    <p>To the dungeon</p>
</div>

<body>
    <header>
        <div class="header-content">
            <nav>
                <ul class="header-links">
                    <li><a href='@Url.Action("Tutorial", "Home")'>Tutorial del juego</a></li>
                    <li><a href='@Url.Action("Comenzar", "Home")'>Inicio del juego</a></li>
                    <li><a href='@Url.Action("Creditos", "Home")'>Créditos</a></li>
                </ul>
            </nav>
        </div>
    </header>

<img src= "/imgs/castle.jpeg">

</body>
</html>