@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="styles1.css">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
    <header>
        <div class="header-content">
            <img src="imagen.png" alt="Logo del juego" class="header-logo">
            <nav>
                <ul class="header-links">
                    <li><a href="#tutorial">Tutorial del juego</a></li>
                    <li><a href="#inicio">Inicio del juego</a></li>
                    <li><a href="#creditos">Créditos</a></li>
                </ul>
            </nav>
        </div>
    </header>


</body>
</html>
