<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Tutorial.css">
    <title>TUTORIAL</title> 
</head>
<body>
    <main>
    <div class="welcome-text">
            <button class="my-button">Volver al menú</button>
            
            <p>Bienvenido a "El Misterio del Castillo Encantado", un emocionante juego de escape en el que deberás desentrañar los secretos de un antiguo castillo y 
            escapar antes de que sea demasiado tarde. Eres un investigador en busca del elixir de la vida eterna, escondido en el castillo por un antiguo alquimista. 
            Cada sala del castillo contiene enigmas y pistas que te acercarán a la verdad. Prepárate para resolver acertijos, encontrar objetos escondidos y descubrir 
            la historia detrás de la leyenda. En este juego deberás de enfocarte en todo lo que veas para conseguir las claves de las habitaciones y poder escapar de el castillo...
            </p>
        </div>
    </main>
    
</body>
</html>