<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Tutorial.css">
    <title>TUTORIAL</title> 
</head>
<body>
    <main>
    <div class="welcome-text">
        <button onclick="window.location.href='http://localhost:5013/#menu'">Volver al menú</button>
        <p>Bienvenido a "El Misterio del Castillo Encantado", un emocionante juego de escape en el que deberás desentrañar los secretos de un antiguo castillo y 
        escapar antes de que sea demasiado tarde. Eres un investigador en busca del elixir de la vida eterna, escondido en el castillo por un antiguo alquimista. 
        Cada sala del castillo contiene enigmas y pistas que te acercarán a la verdad. Prepárate para resolver acertijos, encontrar objetos escondidos y descubrir 
        la historia detrás de la leyenda. En este juego deberás de enfocarte en todo lo que veas para conseguir las claves de las habitaciones y poder escapar del castillo...
        </p>
    </div>
    <section>
        <img src="/imgs/Dificultades/ITYTD.jpg" alt="I'm too young to die">
        <p>I'm too young to die: Para los mas inexperimentados en puzzles. Timer: 6:30</p>
        <img src="/imgs/Dificultades/HurtMePlenty.jpg" alt="Hurt Me Plenty">
        <p>Hurt Me Plenty: La experiencia clasica del juego. Timer: 5:00</p>
        <img src="/imgs/Dificultades/UltraViolence.jpg" alt="Ultra Violence">
        <p>Ultra Violence: Para los que quieran un desafio. Timer: 4:00</p>
        <img src="/imgs/Dificultades/Nightmare.jpg" alt="Nightmare">
        <p>Nightmare: Para los jugadores mas inteligentes. Timer: 3:00</p>
        <img src="/imgs/Dificultades/UltraNightmare.jpg" alt="Ultra Nightmare">
        <p>Ultra Nightmare: No apto para jugadores lentos. Timer: 1:30</p>
    </section>
    </main>
</body>
</html>