@{
    ViewData["Title"] = "Ganaste!";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Victoria.css">
    <title>Victoria</title>
</head>
<body>
    <h1>Te pasaste el juego!!!</h1>
    <h2>Gracias por jugar esta monstruosa aberracion que hicimos con "cariño"</h2>
    <img src = "/imgs/fireworks.gif" alt="Fuegos artificiales">
    
</body>
</html>