@{
    ViewData["Title"] = "Ganaste!";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Victoria.css">
    <title>Victoria</title>
</head>
<body>
    <h1>Te pasaste el juego!!!</h1>
    <h2>Gracias por jugar esta monstruosa aberracion que hicimos con "cariño"</h2>
    <img src = "/imgs/fireworks.gif" alt="Fuegos artificiales">
    <h4>Estos son los homunculos que crearon esta aberración:</h4>
    <img src="/imgs/waltuh.png">
    <p>Nestuen "Quakin' in me boots" Vill A</p>
    <img src="/imgs/bigSmoke.png">
    <p>Bebzuck "El rey de pollin" Matias</p>
    <img src="/imgs/mariano.png">
    <p>Marco "Di" Carlo</p>
    <img src="/imgs/sunglassesEmoji.png" alt="Emoji ijijijiji">
</body>
</html>