
*{
    text-align: center;
}
.image-row {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.image-container {
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

