
*{
    text-align: center;
}
.image-row {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.image-container {
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #0074D9;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3%;
}

p{
    color: #FFF;
}